*{box-sizing: border-box;}

<<<<<<< Updated upstream:css/login.css
body {
  background-color: #151515;
=======
body{
  background-color: black;
>>>>>>> Stashed changes:styles5.css
}

button {
  border-radius: 20px;
}
