@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

body {
  margin: 100px 0 0 0;
  border: 0;
  padding: 0;
  width: 100%;
  font-family: Russo One;
  font-size: 1rem;
background-color: black;
}

nav div.left {
  width: 50%;
  height: 100%;
}

header nav div img.nefli {
float: left;
margin-left: 10px;
margin-right: 5px;
margin-top: 6px;
border-radius: 20px;
border-color: red;
border-width: 1px;
width: 180px;
}

nav div form {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
}

nav div form input.buscar {
  border: 1px solid black;
  background-color: white;
  border: radius
}

div button a {
  color: white;
  text-decoration: none;
}
div button.logIn {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 20px;
  background-color: red;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  color: white;
  border-color: white;
}

.access-allowed {
  display: block;
}

.access-denied {
  display: none;
}

header {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0.5px;
  border: 2px solid red;
}


nav ul.ul-menu {
  float: right;
}

nav ul li {
  padding: 15px 12px 0 12px;
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  height: 60px;
  margin-bottom: 35px;
}


nav ul li a.color-black {
  text-decoration: none;
  color: red;
}

nav ul li a:hover{
	text-decoration: underline;
}

main.main {
  background-image: img-zapas;
}

section {
  width: 100%;
}

section.home {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* 1) POSICIONAMIENTO */
  section.home article.img-container {
    height: 100px;
    max-height: 100px;
  }

  section.home article.img-container div {
    width: 100%;
  }

  section.home article div img {
    width: 100%;
    max-width: 800px;
  }

  .Homelist {
    text-decoration: none;
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: underline;
  }

.nefli{
  width: 210px;
  height: 65px;
}
